:root {
  --shadow: rgb(0, 0, 0, 0.3);
}

.tp1-cat {
  margin: 1em;
}
.tp1-cat select {
  border-radius: 10px;
  border:2px solid rgb(43, 43, 43);
  padding: 0.5em;
  box-shadow: 0 5px 10px var(--shadow);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
}